/*
==================================
          Main Settings
==================================
 */

body {
  font-family : 'Oswald', sans;
  font-weight : 100;
  font-size : 1em;
  color: #fff;
  background: url(../images/background.jpg);
  background-position: 50% 50%;
  background-attachment: fixed;
  background-size: cover;
}

/* Preloader */
#preloader {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #fff; /* change if the mask should have another color then white */
  z-index: 99; /* makes sure it stays on top */
}

#status {
  width: 200px;
  height: 200px;
  position: absolute;
  left: 50%; /* centers the loading animation horizontally one the screen */
  top: 50%; /* centers the loading animation vertically one the screen */
  background-image: url(../img/status.gif); /* path to your loading animation */
  background-repeat: no-repeat;
  background-position: center;
  margin: -100px 0 0 -100px; /* is width and height divided by two */
}

hr {
  margin-top: 40px;
  margin-bottom: 40px;
  border-style: none;
  border-width: 0;
  border-top: 1px solid #ccc;
  background-color: transparent;
  height: 0;
}

img {
  max-width: 100%;
}

a:link {
  color : #ccc;
  text-decoration : none;
}

a:hover {
  color : #ccc;
  text-decoration : none;
}

h2, h3, h4, h5, h6 {
  text-align : center;
  color : #fff;
}

h1 {
  text-align : center;
  color: #3d3d3d;
  font-size : 6em;
  line-height: 1.2em;
  text-transform : uppercase;
  text-align: left;
}

h1 strong {
  border-bottom: 5px solid;
  color: #fff !important;
}

h2 {
  font-size: 2.5em;
  text-align: left;
  color: rgb(41, 128, 185);
}

h3 {
  line-height: 2.5em;
  font-size: 1.4em;
  margin-top: 0px;
  margin-bottom: 0;
  font-weight: 700;
  background: #000;
  text-align: center;
  letter-spacing: 1px;
  text-transform: uppercase;
}

h4 {
  font-size: 5em;
  background: #000;
  margin-bottom: 0;
  margin-top: 0;
  line-height: 1.5em;
  position: relative;
}

h5 {
  font-size: 2em;
  text-align: left;
  letter-spacing: 0.1em;
  font-weight: 300;
  line-height: 1em;
  margin: 25px 0 5px 0;
}

h6 {
  font-size: 1em;
  text-align: left;
  margin: 0;
  font-weight: 300;
  font-family : 'Oswald', sans;
  letter-spacing: 0.1em;
}

.title {
  margin-bottom: 50px;
}

p.description {
  font-size: 1.2em !important;
  font-weight: 300;
  line-height: 1.2em;
  color: #fff;
  letter-spacing: 0.1em;
  background-color: #272727;
  padding: 20px;
}

p {
  font-family: 'Lato', sans-serif;
  font-weight: 300;
}

strong {
  color: #fff;
}

ul {
  list-style-type : none !important;
  font-family: 'Lato', sans-serif;
}

li {
  letter-spacing: 1px;
}

.container {
  max-width: 1176px;
}

i {
  margin-top: 5px !important;
  margin-right: 5px;
}

/* all */
::-webkit-input-placeholder {
  font-family : 'Oswald', sans;
}
::-moz-placeholder {
  font-family : 'Oswald', sans;
} /* firefox 19+ */
:-ms-input-placeholder {
  font-family : 'Oswald', sans;
} /* ie */
input:-moz-placeholder {
  font-family : 'Oswald', sans;
}
/*
==================================
              Menu
==================================
 */

.navbar {
  position: fixed;
  top: 0;
  z-index : 100;
  background-color: #000;
  width: 100%;
  margin-bottom: -50px;
  -webkit-box-shadow: 0px 5px 0px 0px rgba(41, 128, 185, .4);
  -moz-box-shadow: 0px 5px 0px 0px rgba(41, 128, 185, .4);
  -o-box-shadow: 0px 5px 0px 0px rgba(41, 128, 185, .4);
  -ms-box-shadow: 0px 5px 0px 0px rgba(41, 128, 185, .4);
  box-shadow: 0px 5px 0px 0px rgba(41, 128, 185, .4);
}

.navbar-inner {
  background: none;
  z-index : 100;
  background-image: none;
  border-radius: 0;
  border: none;
  box-shadow: none;
  padding: 0;
}

.navbar-inner .btn-medium {
  float: left;
  margin-top: 17px;
}

.navigation {
  float: right;
  padding: 30px;
  margin: 0;
  text-align: right;
}

.navbar-brand {
  display: inline-block;
  float: left;
  height:83px !important;
}

.navbar-brand img {
  height:83px !important;
}

.navigation li {
  display: inline;
  font-weight: bold;
  text-align: center;
  color: #fff;
  padding : 30px 15px 29px 15px;
  margin: 0 -1px;
  cursor: pointer;
  font-weight: bold;
  font-family: 'Oswald', sans-serif;
  text-transform: uppercase;
}
.navigation li:hover {
  -webkit-box-shadow: 0px 5px 0px 0px rgba(41, 128, 185, .3);
  -moz-box-shadow: 0px 5px 0px 0px rgba(41, 128, 185, .3);
  -o-box-shadow: 0px 5px 0px 0px rgba(41, 128, 185, .3);
  -ms-box-shadow: 0px 5px 0px 0px rgba(41, 128, 185, .3);
  box-shadow: 0px 5px 0px 0px rgba(41, 128, 185, .3);
  background: rgb(41, 128, 185);
}

.caret {
  border-top: 4px solid #fff;
}

.dropdown-menu {
  border-radius: 0;
  border: none;
  background: rgba(1, 1, 1, 0.6);
  margin-top: 0;
}

.dropdown-menu li ul {
  width: 120px;
}

.dropdown-menu li {
  padding: 20px 0 0 0;
  text-align: center;
  width: 120px
}

.dropdown-menu li :hover {
  background: none;
}

.dropdown-menu li a {
  padding: 4px 0;
  color: #ccc;
  font-weight: 300;
}

.dropdown-menu li a:hover {
  background: none;
}

.dropdown-menu>.active>a, .dropdown-menu>.active>a:hover, .dropdown-menu>.active>a:focus {
  background-color: transparent;
  background-image: none;
  color: #ccc;
}

/*
==================================
             General Slide
==================================
 */

.slide {
  background-attachment : fixed;
  width : 100%;
  height : auto;
  position : relative;
  padding: 100px 0;
}

/*
==================================
          Welcome Page - Slide 1
==================================
 */

#slide1 {
  min-height: 550px;
  position: relative;
}

.welcome {
  animation-duration: 1.3s;
  -webkit-animation-duration: 1.3s;
  -moz-animation-duration: 1.3s;
  -ms-animation-duration: 1.3s;
  -o-animation-duration: 1.3s;
  animation-delay: 1s;
  -webkit-animation-delay: 1s;
  -moz-animation-delay: 1.3s;
  -ms-animation-delay: 1.3s;
  -o-animation-delay: 1.3s;
  text-align: center;
}

.welcome h1 {
  margin-top: 0;
  text-align: center;
  padding: 50px;
  font-size: 7em;
}

/*Down Arrow*/
#down_arrow {
  background: url(../images/down.png);
  background-repeat: no-repeat;
  height: 60px;
  width: 60px;
  margin-left: -30px;
  left: 50%;
  position: fixed;
  bottom: 0;
  border: 5px solid rgb(41, 128, 185);
  transition: 200ms;
  padding: 0;
  z-index: 0;
}

#down_arrow:hover {
  box-shadow: none !important;
  background-color: rgb(41, 128, 185);
}

/*Up Arrow*/
#up_arrow {
  background: url(../images/up.png);
  background-repeat: no-repeat;
  height: 60px;
  width: 60px;
  position: fixed;
  right: 70px;
  bottom: 0px;
  z-index: 999999999;
  box-shadow: none !important;
  padding: 0;
  border: 5px solid rgb(41, 128, 185);
  transition: 200ms;
  display: none;
}

#up_arrow:hover {
  background-color: rgb(41, 128, 185);
  box-shadow: none !important;
}

/*
==================================
          About - Slide 2
==================================
 */

#slide2 {
  min-height: 550px;
  background: url(../images/p4.png);
}

.about {
  font-size: 1.2em;
  color: #fff;
}

.about h2 {
  margin-bottom: 45px;
  font-size: 2em;
}

.about p {
  color: #3d3d3d;
  text-align: left;
  margin: 0;
  line-height: 1.5em;
}

.about p:last-of-type {
  margin-bottom: 33px;
}

.about p a {
  color: rgb(41, 128, 185);
}

.about p a:hover {
  text-decoration: underline;
}

.about-description {
  float: left;
  width: 50%;
  margin-top: -5px;
}

.oculus-video-wrapper {
  float: right;
  width: 50%;
}

.oculus-video {
  padding: 0 5%;
}

.oculus-video-iframe-wrapper {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 30px;
  height: 0;
  overflow: hidden;
}

iframe, object, embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/*
==================================
          Quick Start - Slide 3
==================================
 */

#slide3 {
  background: url(../images/p1.png);
}

.quickstart h2 {
  margin-bottom: 40px;
}

.quickstart .title p {
  color: #3d3d3d;
  line-height: 1.5em;
  font-size: 1.2em;
}

.controls {
  float: left;
  width: 18%;
  margin-bottom: 40px;
  margin-left: 2%;
  border-bottom: 5px solid rgba(0, 0, 0, 0.3);
  transition: all 100ms;
  -moz-transition: all 100ms;
  -ms-transition: all 100ms;
  -o-transition: all 100ms;
  -webkit-transition: all 100ms;
  text-transform: uppercase;
  text-align: center;
}

.controls:nth-child(5n + 1) {
  margin-left: 0;
}

.controls:hover {
  margin-top: -20px;
  margin-bottom: 60px;
}

.controls h3 {
  line-height: 2.5em;
  font-size: 1.5em;
  margin: 0;
  padding: 8px;
  font-weight: 700;
  background: #000;
  letter-spacing: 1px;
}

.controls p {
  font-size : 2em;
  line-height : 2.5em;
  font-weight : 700;
  margin: 0;
  padding: 8px;
  background: rgb(41, 128, 185);
}

/*
==================================
          Tech stack - Slide 4
==================================
 */

#slide4 {
  background: url(../images/p4.png);
}

.tech-grid {
  background: rgb(41, 128, 185);
  transition: all linear 100ms;
  -webkit-transition: all linear 100ms;
  -moz-transition: all linear 100ms;
  -o-transition: all linear 100ms;
  -ms-transition: all linear 100ms;
  -webkit-box-shadow: 0px 5px 0px 0px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0px 5px 0px 0px rgba(0, 0, 0, 0.3);
  -o-box-shadow: 0px 5px 0px 0px rgba(0, 0, 0, 0.3);
  -ms-box-shadow: 0px 5px 0px 0px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 5px 0px 0px rgba(0, 0, 0, 0.3);
  margin-bottom: 40px;
  width: 31.33%;
  margin-left: 2%;
  float: left;
}

.tech-grid:hover {
  margin-top: -20px;
  margin-bottom: 60px;
}

/*
==================================
        Team - Slide 5
==================================
 */

#slide5 {
  background: url(../images/p1.png);
  position: relative;
}

#members {
  opacity: 0;
}

.team-member {
  background: #272727;
  -webkit-box-shadow: 0px 5px 0px 0px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0px 5px 0px 0px rgba(0, 0, 0, 0.3);
  -o-box-shadow: 0px 5px 0px 0px rgba(0, 0, 0, 0.3);
  -ms-box-shadow: 0px 5px 0px 0px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 5px 0px 0px rgba(0, 0, 0, 0.3);
  width: 17.24%;
  float: left;
  margin-left: 2.7624309392265194%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin-bottom: 50px;
}

.team-member:nth-child(5n + 1) {
  margin-left: 0;
}

.team-member:hover .member_social {
  margin-top: 140px;
}

.team-member-row:first-child {
  margin-top: 0;
}

.team-member-first {
  margin-left: 10%;
}

.team-member-row:first-child .team-member-first {
  margin-left: 0;
}

.team-member-info {
  position: relative;
}

.team-member-info p {
  position: absolute;
  top: 0;
  bottom: 65px;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, .7);
  text-align: center;
  padding : 20px;
  margin: 0;
  display: none;
}

.team-member-social {
  margin: 10px 0;
  text-align: center;
}

.team-member-social li {
  font-size: 1.5em;
  display:-moz-inline-stack;
  display:inline-block;
  zoom:1;
  *display:inline;
  margin-left: 10px;
}

.team-member-social li:first-child {
  margin-left: 0;
}

.team-member-social a {
  transition: all linear 250ms;
  -webkit-transition: all linear 250ms;
  -moz-transition: all linear 250ms;
  -o-transition: all linear 250ms;
  -ms-transition: all linear 250ms;
  display: block;
  text-align: center;
  color: #ccc;
}

.team-member-social a:hover {
  color: rgb(0, 136, 204);
}

.team-member-social icon {
  width: 35px;
  height: 35px;
}

.team-member-name {
  border-bottom: 10px solid rgb(41, 128, 185);
}

.team-member-name:hover {
  cursor: default;
}

/*
==================================
     Shortcodes Button - SubArea3
==================================
 */

#subArea3 {
  padding: 100px 0;
  text-align: center;
}

/*
==================================
          Buttons
==================================
 */

.btn {
  border: none !important;
  text-transform: uppercase;
  font-family: 'Oswald', sans;
  font-weight: bold;
  box-shadow: 0 5px 0 #878787;
  padding: 10px 25px;
  background-image: none !important;
  box-sizing: border-box;
  background: #d7d7d7;
  border-radius: 0;
  transition: ease 100ms;
}

.btn:hover {
  transition: ease 100ms;
}

.btn:active {
  box-shadow: 0 0px 0 #878787;
  margin-top: 5px;
  margin-bottom: -5px;
  box-sizing: border-box;
}

.btn-large {
  padding: 20px 55px;
  font-size: 1.4em;
}

.btn-medium {
  padding: 10px 35px;
  font-size: 1.4em;
}

.btn-small {
  padding: 5px 10px;
}

.btn-mini {
  padding: 1px 4px;
}

.button-list, .labels {
  text-align: center;
}

.button-list p {
  display: inline-block;
}

.btn-success {
  background-image: none;
  box-shadow: 0 5px 0 #19a096;
  background-color: #03cec0;
}

.btn-success:hover {
  background-color: #19dcce;
}

.btn-success:active {
  box-shadow: 0 0px 0 #19a096;
  margin-top: 5px;
  margin-bottom: -5px;
}

.btn-primary {
  background-image: none;
  box-shadow: 0 5px 0 #04c;
  position: relative;
  background-color: #2e67da;
}

.btn-primary:hover {
  background-image: none;
  background-color: #457ef1;
  box-shadow: 0 5px 0 #04c;
}

.btn-primary:active {
  box-shadow: 0 0px 0 #04c;
  margin-top: 5px;
  margin-bottom: -5px;
}

.btn-info {
  background-image: none;
  box-shadow: 0 5px 0 #25a1c0;
  background-color: rgb(41, 128, 185);
}

.btn-info:hover {
  background-color: rgb(41, 140, 185);
}

.btn-info:active {
  box-shadow: 0 0px 0 #25a1c0;
  margin-top: 5px;
  margin-bottom: -5px;
}

.btn-warning {
  background-image: none;
  box-shadow: 0 5px 0 #5c1f77;
  background-color: #7a3c95;
}

.btn-warning:hover {
  background-color: #953fba;
}

.btn-warning:active {
  box-shadow: 0 0px 0 #5c1f77;
  margin-top: 5px;
  margin-bottom: -5px;
}

.btn-danger {
  background-image: none;
  box-shadow: 0 5px 0 #2b296d;
  background-color: rgb(78, 76, 160);
}

.btn-danger:hover {
  background-color: #524ed5;
}

.btn-danger:active {
  box-shadow: 0 0px 0 #2b296d;
  margin-top: 5px;
  margin-bottom: -5px;
}

.btn-inverse {
  background-image: none;
  box-shadow: 0 5px 0 #1b1b1b;
  border-top: none;
  background-color: #2e2e2e;
}

.btn-inverse:hover {
}

.btn-inverse:active {
  box-shadow: 0 0px 0 #1b1b1b;
  margin-top: 5px;
  margin-bottom: -5px;
}

.btn-link {
  text-shadow: none;
  text-transform: none;
  font-size: 1em;
  padding: 0;
  color: rgb(41, 128, 185);
  box-shadow: none;
  background: none !important;
  font-family: 'Lato', sans-serif;
}

.btn-link:hover {
  color: rgb(41, 128, 185);
}

/*
==================================
             Grid System
==================================
 */

.show-grid > div {
  background: #fff;
  padding: 10px;
  text-align: center;
  color: #000;
  margin-bottom: 15px;
}

/*
==================================
             Media Queries
==================================
 */

/* Portrait tablet to landscape and desktop */
@media (max-width: 979px) {
  h1 {
    font-size: 5em;
  }

  .navbar-inner {
    padding-left: 20px;
  }

  .slide {
    padding-top: 50px;
  }

  .about-description {
    width: 100%;
  }

  .oculus-video-wrapper {
    width: 100%;
    margin-bottom: 40px;
  }

  .oculus-video {
    padding: 0;
  }

  .controls h3 {
    font-size: 1.3em;
  }

  .controls p {
    font-size: 1.5em;
  }

  .team-member {
    width: 30.57%;
  }

  .team-member:nth-child(5n + 1) {
    margin-left: 2.7624309392265194%;
  }

  .team-member:nth-child(3n + 1) {
    margin-left: 0;
  }
}

/* Landscape phone to portrait tablet */
@media (max-width: 767px) {
  body {
    padding-left: 0;
    padding-right: 0;
  }

  .slide {
    padding: 50px 0;
  }

  #subArea1, #subArea2, #subArea3, #subArea4 {
    padding: 50px 0;
  }

  h1 {
    font-size: 3em;
    text-align: center;
  }

  h2 {
    font-size: 2em;
    text-align: center;
  }

  .container {
    padding: 0 20px;
  }

  .welcome h1 {
    padding-top: 130px;
  }

  .controls:hover {
    margin-top: 0;
  }

  .tech-grid:hover {
    margin-top: 0;
    margin-bottom: 40px;
  }
}

/* Landscape phones and down */
@media (max-width: 480px) {
  .navbar-inner {
    padding: 0;
  }

  .navbar-inner a {
    display: none;
  }

  .navigation {
    float: none;
    margin: 0;
    padding: 0;
  }

  .navigation li {
    display: block;
    padding: 10px;
    text-align: center;
    font-size: .8em;
  }

  .welcome h1 {
    font-size: 4em;
    padding: 0;
    padding-top: 300px;
  }

  .about h2 {
    font-size: 1.5em;
  }

  .quickstart .title {
    margin-bottom: 20px;
  }

  .controls {
    width: 48%;
    margin-bottom: 20px;
    margin-left: 4%;
  }

  .controls:nth-child(5n + 1) {
    margin-left: 2%;
  }

  .controls:nth-child(2n + 1) {
    margin-left: 0;
  }

  .controls:nth-child(5) {
    margin-right: 50%
  }

  .controls-small:nth-child(2n) {
    margin-left: 0;
    margin-right: 4%;
  }

  .controls:hover {
    margin-top: 0;
    margin-bottom: 20px;
  }
}

/*
==================================
             Cross browser fix
==================================
 */

/* Internet Explorer */
.serv, #testimonialsCarousel, #members, .nivoSlider, .thumbs img, #subArea3 .container, .table,.contact-icons,.contact-details, #contact-form {
  opacity:1 !important; /* IE 9 and below */
}
