 @import url('http://fonts.googleapis.com/css?family=Oswald:400,300,700');

/*
==================================
          Main Settings
==================================
 */

body {
  font-family : 'Oswald', sans;
  font-weight : 100;
  font-size : 1em;
  color: #fff;
  background: url(../images/background.jpg);
  background-position: 50% 50%;
  background-attachment: fixed;
  background-size: cover;
}

/* Preloader */
#preloader {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #fff; /* change if the mask should have another color then white */
  z-index: 99; /* makes sure it stays on top */
}

#status {
  width: 200px;
  height: 200px;
  position: absolute;
  left: 50%; /* centers the loading animation horizontally one the screen */
  top: 50%; /* centers the loading animation vertically one the screen */
  background-image: url(../img/status.gif); /* path to your loading animation */
  background-repeat: no-repeat;
  background-position: center;
  margin: -100px 0 0 -100px; /* is width and height divided by two */
}

hr {
  margin-top: 40px;
  margin-bottom: 40px;
  border-style: none;
  border-width: 0;
  border-top: 1px solid #ccc;
  background-color: transparent;
  height: 0;
}

img {
  max-width: 100%;
}

a:link {
  color : #ccc;
  text-decoration : none;
}

a:hover {
  color : #ccc;
  text-decoration : none;
}

a:visited {
  color : #ccc;
  text-decoration : none;
}

h2, h3, h4, h5, h6 {
  text-align : center;
  color : #fff;
}

h1 {
  text-align : center;
  color: #3d3d3d;
  font-size : 6em;
  line-height: 1.2em;
  text-transform : uppercase;
  text-align: left;
}

h1 strong {
  border-bottom: 5px solid;
  color: #fff !important;
}

h2 {
  font-size: 2.5em;
  text-align: left;
  color: rgb(41, 128, 185);
}

h3 {
  line-height: 2.5em;
  font-size: 1.4em;
  margin-top: 0px;
  margin-bottom: 0;
  font-weight: 700;
  background: #000;
  text-align: center;
  letter-spacing: 1px;
  text-transform: uppercase;
}

h4 {
  font-size: 5em;
  background: #000;
  margin-bottom: 0;
  margin-top: 0;
  line-height: 1.5em;
  position: relative;
}

h5 {
  font-size: 2em;
  text-align: left;
  letter-spacing: 0.1em;
  font-weight: 300;
  line-height: 1em;
  margin: 25px 0 5px 0;
}

h6 {
  font-size: 1em;
  text-align: left;
  margin: 0;
  font-weight: 300;
  font-family : 'Oswald', sans;
  letter-spacing: 0.1em;
}

.title {
  margin-bottom: 50px;
}

p.description {
  font-size: 1.2em !important;
  font-weight: 300;
  line-height: 1.2em;
  color: #fff;
  letter-spacing: 0.1em;
  background-color: #272727;
  padding: 20px;
}

p {
  font-family: 'Lato', sans-serif;
  font-weight: 300;
}

strong {
  color: #fff;
}

ul {
  list-style-type : none !important;
  font-family: 'Lato', sans-serif;
}

li {
  letter-spacing: 1px;
}

.container {
  max-width: 1176px;
}

i {
  margin-top: 5px !important;
  margin-right: 5px;
}

/* all */
::-webkit-input-placeholder {
  font-family : 'Oswald', sans;
}
::-moz-placeholder {
  font-family : 'Oswald', sans;
} /* firefox 19+ */
:-ms-input-placeholder {
  font-family : 'Oswald', sans;
} /* ie */
input:-moz-placeholder {
  font-family : 'Oswald', sans;
}
/*
==================================
              Menu
==================================
 */

.navbar {
  position: fixed;
  top: 0;
  z-index : 100;
  background-color: #000;
  width: 100%;
  margin-bottom: -50px;
  -webkit-box-shadow: 0px 5px 0px 0px rgba(41, 128, 185, .4);
  -moz-box-shadow: 0px 5px 0px 0px rgba(41, 128, 185, .4);
  -o-box-shadow: 0px 5px 0px 0px rgba(41, 128, 185, .4);
  -ms-box-shadow: 0px 5px 0px 0px rgba(41, 128, 185, .4);
  box-shadow: 0px 5px 0px 0px rgba(41, 128, 185, .4);
}

.navbar-inner {
  background: none;
  z-index : 100;
  background-image: none;
  border-radius: 0;
  border: none;
  box-shadow: none;
  padding: 0;
}

.navbar-inner .btn-info {
  float: left;
  margin-top: 17px;
}

.navigation {
  float: right;
  padding: 30px;
  margin: 0;
  text-align: right;
}

.navbar-brand {
  display: inline-block;
  float: left;
  height:83px !important;
}

.navbar-brand img {
  height:83px !important;
}

.navigation li {
  display: inline;
  font-weight: bold;
  text-align: center;
  color: #fff;
  padding : 30px 15px 29px 15px;
  margin: 0 -1px;
  cursor: pointer;
  font-weight: bold;
  font-family: 'Oswald', sans-serif;
  text-transform: uppercase;
}
.navigation li:hover {
  -webkit-box-shadow: 0px 5px 0px 0px rgba(41, 128, 185, .3);
  -moz-box-shadow: 0px 5px 0px 0px rgba(41, 128, 185, .3);
  -o-box-shadow: 0px 5px 0px 0px rgba(41, 128, 185, .3);
  -ms-box-shadow: 0px 5px 0px 0px rgba(41, 128, 185, .3);
  box-shadow: 0px 5px 0px 0px rgba(41, 128, 185, .3);
  background: rgb(41, 128, 185);
}

.caret {
  border-top: 4px solid #fff;
}

.dropdown-menu {
  border-radius: 0;
  border: none;
  background: rgba(1, 1, 1, 0.6);
  margin-top: 0;
}

.dropdown-menu li ul {
  width: 120px;
}

.dropdown-menu li {
  padding: 20px 0 0 0;
  text-align: center;
  width: 120px
}

.dropdown-menu li :hover {
  background: none;
}

.dropdown-menu li a {
  padding: 4px 0;
  color: #ccc;
  font-weight: 300;
}

.dropdown-menu li a:hover {
  background: none;
}

.dropdown-menu>.active>a, .dropdown-menu>.active>a:hover, .dropdown-menu>.active>a:focus {
  background-color: transparent;
  background-image: none;
  color: #ccc;
}

/*
==================================
             General Slide
==================================
 */

.slide {
  background-attachment : fixed;
  width : 100%;
  height : auto;
  position : relative;
  padding: 125px 0;
}

/*
==================================
          Welcome Page - Slide 1
==================================
 */

#slide1 {
  padding-top:100px;
  min-height: 550px;
  position: relative;
}

.welcome {
  animation-duration: 1.3s;
  -webkit-animation-duration: 1.3s;
  -moz-animation-duration: 1.3s;
  -ms-animation-duration: 1.3s;
  -o-animation-duration: 1.3s;
  animation-delay: 1s;
  -webkit-animation-delay: 1s;
  -moz-animation-delay: 1.3s;
  -ms-animation-delay: 1.3s;
  -o-animation-delay: 1.3s;
  text-align: center;
}

.welcome h1 {
  margin-top: 0;
  text-align: center;
  padding: 50px;
  font-size: 7em;
}

/*Down Arrow*/
#down_arrow {
  background: url(../images/down.png);
  background-repeat: no-repeat;
  height: 60px;
  width: 60px;
  margin-left: -30px;
  left: 50%;
  position: fixed;
  bottom: 0;
  border: 5px solid rgb(41, 128, 185);
  transition: 200ms;
  padding: 0;
  z-index: 0;
}

#down_arrow:hover {
  box-shadow: none !important;
  background-color: rgb(41, 128, 185);
}

/*Up Arrow*/
#up_arrow {
  background: url(../images/up.png);
  background-repeat: no-repeat;
  height: 60px;
  width: 60px;
  position: fixed;
  right: 70px;
  bottom: 0px;
  z-index: 999999999;
  box-shadow: none !important;
  padding: 0;
  border: 5px solid rgb(41, 128, 185);
  transition: 200ms;
  display: none;
}

#up_arrow:hover {
  background-color: rgb(41, 128, 185);
  box-shadow: none !important;
}

/*
==================================
          About - Slide 2
==================================
 */

#slide2 {
  padding-top: 150px;
  min-height: 550px;
  background: url(../images/p4.png);
}

.about {
  text-align: center;
  font-size: 1.2em;
  color: #fff;
}

.about h2 {
  margin-bottom: 45px;
  font-size: 2em;
}

.about p {
  color: #3d3d3d;
  text-align: left;
  margin: 0;
  line-height: 1.5em;
}

.about a {
  color: rgb(41, 128, 185);
}

.about a:hover {
  text-decoration: underline;
}

.about-description {
  float: left;
  width: 50%;
  margin-top: -5px;
}

.oculus-video-wrapper {
  float: right;
  width: 50%;
}

.oculus-video {
  padding: 0 5%;
}

.oculus-video-iframe-wrapper {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 30px;
  height: 0;
  overflow: hidden;
}

iframe, object, embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/*
==================================
          Quick Start - Slide 3
==================================
 */

#slide3 {
  background: url(../images/p1.png);
  position: relative;
}

.table {
  text-align: center;
  position: relative;
  background-color: #272727;
  transition: margin-top 100ms;
  -moz-transition: margin-top 100ms;
  -ms-transition: margin-top 100ms;
  -o-transition: margin-top 100ms;
  -webkit-transition: margin-top 100ms;
  margin-top: 0;
  -webkit-box-shadow: 0px 5px 0px 0px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0px 5px 0px 0px rgba(0, 0, 0, 0.3);
  -o-box-shadow: 0px 5px 0px 0px rgba(0, 0, 0, 0.3);
  -ms-box-shadow: 0px 5px 0px 0px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 5px 0px 0px rgba(0, 0, 0,0.3);
  font-family: 'Lato', sans-serif;
}

.table th {
  line-height: 2.5em;
  font-size: 1.5em;
  margin-top: -5px;
  margin-bottom: 0;
  font-weight: 700;
  background: #000;
  text-align: center;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-family: 'Oswald', sans-serif;
}

.table td.price {
  line-height: 70px;
  text-align : center;
  font-size : 2em;
  line-height : 2.5em;
  font-weight : 700;
  border-top: 0 !important;
  margin-bottom: 50px;
}

.table td {
  text-align: center;
  border-top: 0 !important;
}

.table td:nth-of-type(2) {
  border-top: 0;
}

.table tr:nth-of-type(2) td {
  padding-top: 30px;
}

.price {
  background: rgb(41, 128, 185);
}

table:hover {
  margin-top: -20px;
}

/*
==================================
          Tech stack - Slide 4
==================================
 */

#slide4 {
  background: url(../images/p4.png);
  padding-top: 150px;
}

.serv {
  background-color: #272727;
  height: 400px;
  -webkit-box-shadow: 0px 5px 0px 0px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0px 5px 0px 0px rgba(0, 0, 0, 0.3);
  -o-box-shadow: 0px 5px 0px 0px rgba(0, 0, 0, 0.3);
  -ms-box-shadow: 0px 5px 0px 0px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 5px 0px 0px rgba(0, 0, 0, 0.3);
  opacity: 0;
  margin-bottom:30px;
}

.serv h3 {
  text-align: center
}

.serv img {
  position: relative;
  margin-left: -50px;
  left: 50%;
  margin-top: -50px;
  top: 50%;
  transition: all linear 500ms;
  -webkit-transition: all linear 500ms;
  -moz-transition: all linear 500ms;
  -o-transition: all linear 500ms;
  -ms-transition: all linear 500ms;
  height: 100px;
  width: 100px;
}

.serv:hover img {
  transform: rotate(15deg);
  -webkit-transform: rotate(15deg) scale(2.2);
  -ms-transform: rotate(15deg) scale(2.2);
  -moz-transform: rotate(15deg) scale(2.2);
  -o-transform: rotate(15deg) scale(2.2);
  opacity: 0.5;
  transition: linear 200ms;
  -webkit-transition: linear 200ms;
  -moz-transition: linear 200ms;
  -o-transition: linear 200ms;
  -ms-transition: linear 200ms;
}

.serv p {
  padding: 20px;
}

.serv-img {
  background: rgb(41, 128, 185);
  height: 150px;
  overflow: hidden;
  margin-bottom: 5px;
}

.techtext {
  margin: 25px 0;
  letter-spacing: 0px;
  border: none;
  box-shadow: none;
  border-radius: 70px;
  background: #FFF;
  color: #00bccb;
  display: inline-block;
  padding: 45px 17px;
  font-size: 19px;
}

/*
==================================
        Team - Slide 5
==================================
 */

#slide5 {
  background: url(../images/p1.png);
  position: relative;
}

#members {
  opacity: 0;
}

.team-member {
  position: relative;
  background: #272727;
  -webkit-box-shadow: 0px 5px 0px 0px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0px 5px 0px 0px rgba(0, 0, 0, 0.3);
  -o-box-shadow: 0px 5px 0px 0px rgba(0, 0, 0, 0.3);
  -ms-box-shadow: 0px 5px 0px 0px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 5px 0px 0px rgba(0, 0, 0, 0.3);
}

.team-member:hover .member_social {
  margin-top: 140px;
}

.member_picture {
  width: 100%;
  position: relative;
  z-index: 2;
}

h3.member_name {
  border-bottom: 10px solid rgb(41, 128, 185);
  position: relative;
  z-index: 0;
}

.member_social {
  background: rgb(41, 128, 185);
  text-align: center;
  position: absolute;
  top: 72px;
  padding-top: 10px;
  width: 100%;
  z-index: 1;
  transition: ease-in-out 300ms;
}

.team-member:hover .member_social {
  height: auto;
  opacity: 1;
}

.team-member p {
  padding : 20px;
  margin: 0;
  height: 150px;
}

/*
==================================
     Shortcodes Button - SubArea3
==================================
 */

#subArea3 {
  padding: 100px 0;
  text-align: center;
}

/*
==================================
          Buttons
==================================
 */

.btn {
  border: none !important;
  text-transform: uppercase;
  font-family: 'Oswald', sans;
  font-weight: bold;
  box-shadow: 0 5px 0 #878787;
  padding: 10px 25px;
  background-image: none !important;
  box-sizing: border-box;
  background: #d7d7d7;
  border-radius: 0;
  transition: ease 100ms;
}

.btn:hover {
  transition: ease 100ms;
}

.btn:active {
  box-shadow: 0 0px 0 #878787;
  margin-top: 5px;
  margin-bottom: -5px;
  box-sizing: border-box;
}

.btn-large {
  padding: 20px 55px;
  font-size: 1.4em;
}

.btn-small {
  padding: 5px 10px;
}

.btn-mini {
  padding: 1px 4px;
}

.button-list, .labels {
  text-align: center;
}

.button-list p {
  display: inline-block;
}

.btn-success {
  background-image: none;
  box-shadow: 0 5px 0 #19a096;
  background-color: #03cec0;
}

.btn-success:hover {
  background-color: #19dcce;
}

.btn-success:active {
  box-shadow: 0 0px 0 #19a096;
  margin-top: 5px;
  margin-bottom: -5px;
}

.btn-primary {
  background-image: none;
  box-shadow: 0 5px 0 #04c;
  position: relative;
  background-color: #2e67da;
}

.btn-primary:hover {
  background-image: none;
  background-color: #457ef1;
  box-shadow: 0 5px 0 #04c;
}

.btn-primary:active {
  box-shadow: 0 0px 0 #04c;
  margin-top: 5px;
  margin-bottom: -5px;
}

.btn-info {
  background-image: none;
  box-shadow: 0 5px 0 #25a1c0;
  background-color: rgb(41, 128, 185);
}

.btn-info:hover {
  background-color: rgb(41, 140, 185);
}

.btn-info:active {
  box-shadow: 0 0px 0 #25a1c0;
  margin-top: 5px;
  margin-bottom: -5px;
}

.btn-warning {
  background-image: none;
  box-shadow: 0 5px 0 #5c1f77;
  background-color: #7a3c95;
}

.btn-warning:hover {
  background-color: #953fba;
}

.btn-warning:active {
  box-shadow: 0 0px 0 #5c1f77;
  margin-top: 5px;
  margin-bottom: -5px;
}

.btn-danger {
  background-image: none;
  box-shadow: 0 5px 0 #2b296d;
  background-color: rgb(78, 76, 160);
}

.btn-danger:hover {
  background-color: #524ed5;
}

.btn-danger:active {
  box-shadow: 0 0px 0 #2b296d;
  margin-top: 5px;
  margin-bottom: -5px;
}

.btn-inverse {
  background-image: none;
  box-shadow: 0 5px 0 #1b1b1b;
  border-top: none;
  background-color: #2e2e2e;
}

.btn-inverse:hover {
}

.btn-inverse:active {
  box-shadow: 0 0px 0 #1b1b1b;
  margin-top: 5px;
  margin-bottom: -5px;
}

.btn-link {
  text-shadow: none;
  text-transform: none;
  font-size: 1em;
  padding: 0;
  color: rgb(41, 128, 185);
  box-shadow: none;
  background: none !important;
  font-family: 'Lato', sans-serif;
}

.btn-link:hover {
  color: rgb(41, 128, 185);
}

/*
==================================
             Grid System
==================================
 */

.show-grid > div {
  background: #fff;
  padding: 10px;
  text-align: center;
  color: #000;
  margin-bottom: 15px;
}

/*
==================================
             Media Queries
==================================
 */

/* Portrait tablet to landscape and desktop */
@media (max-width: 1250px) {
  .member_social {
    display: none;
  }
}

@media (max-width: 979px) {
  h1 {
    font-size: 5em;
  }

  #slide2 {
    padding-top:50px;
  }

  #slider {
    width: auto;
    margin: 0 0 0 0;
    left: 0;
  }

  .theme-default .nivo-directionNav a {
    opacity: 1;
  }

  .theme-default a.nivo-prevNav, .theme-default a.nivo-nextNav {
    top: 0;
  }
}

/* Landscape phone to portrait tablet */
@media (max-width: 767px) {
  body {
    padding-left: 0;
    padding-right: 0;
  }

  .slide {
    margin-top: 0;
    margin-bottom: 0;
    padding: 50px 0;
  }

  #subArea1, #subArea2, #subArea3, #subArea4 {
    padding: 50px 0;
  }

  h1 {
    font-size: 3em;
    text-align: center;
  }

  h1 strong {
    border-bottom: 0;
  }

  h2 {
    font-size: 2em;
    text-align: center;
  }

  .container {
    padding: 0 20px 0 20px;
  }

  .navigation {
    padding: 10px;
  }

  .navigation li {
    display: block;
    text-align: center;
    padding: 10px;
  }

  .logo {
    display: none !important;
  }

  #up_arrow {
    display: none !important;
  }

  /*Slide2*/
  .serv {
    height: auto !important;
  }

  /* Slide3*/
  .team-member {
    margin-bottom: 10px;
    height: auto;
  }

  .team-member p {
    height: auto;
  }

  /*SubArea2 Slider */
  #subArea2 {
    padding: 0 0 !important;
  }

  /*Slide4*/
  .gallery >.row-fluid {
    margin-bottom: 30px !important;
  }

  .secondary-row .span6:last-of-type {
    margin-left: 4% !important;
  }

  .modal {
    top: 0;
    left: 0;
    width: 100%;
  }

  .modal-header .close {
    display: block;
    position: relative;
    top: 25px;
    right: 25px;
  }

  /*Slide6*/
  .table:hover {
    margin-top: 0;
  }

  .contact-details {
    margin-bottom: 30px;
  }
}

/* Landscape phones and down */
@media (max-width: 480px) {

}

/*
==================================
             Cross browser fix
==================================
 */

/* Internet Explorer */
.serv, #testimonialsCarousel, #members, .nivoSlider, .thumbs img, #subArea3 .container, .table,.contact-icons,.contact-details, #contact-form {
  opacity:1 !important; /* IE 9 and below */
}
